@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(108,65,119);
  background: radial-gradient(circle, rgba(108,65,119,1) 0%, rgba(46,1,57,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBar{
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  padding: 10px;
}

.NavBar:last-child {
  margin-right: auto;
}

.logo{
  display: flex;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
}

.logo > h1{
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  color: #e0b600;
}

.NavBar, .Footer{
  /*background: #30003b;*/
  height: 5vh;
  z-index: 10;
  color: #d8d4e0;
  background: rgb(56,5,69);
  background: linear-gradient(45deg, rgb(46, 1, 58) 0%, rgb(63, 1, 77) 30%, rgb(65, 26, 68) 72%, rgb(90, 11, 101) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: rgba(17, 12, 46, 0.30) 0 48px 100px 0;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.Footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.popup{
  background: slategray;
}

.products{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.productCard, .pending-order{
  width: 250px;
  height: 300px;
  border: #2a0156 solid 3px;
  margin: 5px;
  border-radius: 20px;
  background: rgb(165,116,177);
  background: linear-gradient(180deg, rgba(165,116,177,1) 0%, rgb(107, 30, 121) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #e0b600;
  font-size: 1.3em;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.productCardDetailed{
  width: 400px;
  height: 600px;
}

.productCardDetailed > button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.3rem;
}

.productCard:hover{
  filter: brightness(120%);
}

.productCard > img{
  max-width: 90%;
  height: auto;
}

.popupElement{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 300px;
}

.popup-overlay{
  background-color: rgba(0,0,0,0.6);
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  height: 300px;
  width: 300px;
  background: linear-gradient(180deg, rgb(211, 158, 224) 0%, rgb(159, 47, 178) 100%);
  border-radius: 20px;
}

.modal-bigger{
  height: 500px;
  width: 700px;
}

.login-form{
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-form > label, h3{
  color: #170000;
}

.login-form > input{
  font-size: 1.3em;
}

.login-form >.secondery-form-button{
  font-size: 0.8em;
}

#form-errors{
  color: #e00500;
}

.button-base{
  min-height: 30px;
  min-width: 20px;
  border-radius: 5px;
  border: #30003b solid 2px;
  background: rgb(148,66,168);
  background: radial-gradient(circle, rgba(148,66,168,1) 0%, rgba(143,8,157,1) 100%);
}

.button-base:hover{
  filter: brightness(120%);
}

.shopCartItemCount{
  position: absolute;
  overflow: hidden;
  top: 5px;
  right: 5px;
  background: rgb(79,10,96);
  background: linear-gradient(32deg, rgba(79,10,96,1) 0%, rgba(131,10,144,1) 100%);
  color: #e0b600;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border: #170000 solid 1px;
}

.barButton{
  margin: 4px;
  min-width: 100px;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.barButton > button, .barButton > a{
  position: relative;
  width: 100%;
  height: 100%;
}

.barButton > a, button, input[type=submit], input[type=button]{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border: #2a0156 solid 1px;
  border-radius: 5px;
}

.barButton > a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #170000;
}

button:hover, input[type=submit]:hover, input[type=button]:hover{
  filter: brightness(120%);
}

input[type=submit]:disabled, input[type=submit]:disabled:hover{
  opacity: 0.4;
}

.checkoutResult{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.checkoutResult > button{
  font-size: 1.3rem;
}

.checkoutResult > img{
  width: 50%;
}

.decision-buttons{
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decision-buttons > button{
  font-size: 1.8rem;
  margin: 10px;
  min-width: 300px;
}

h1, h2, h3{
  color: #cea705;
}

.order-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.orderOverview{
  border: 2px solid black;
  border-radius: 10px;
}

.orderOverview:hover{
  filter: brightness(105%);
}

.orderOverview.Pending{
  background: rgb(237,191,122);
  background: linear-gradient(43deg, rgba(237,191,122,1) 0%, rgba(245,211,100,1) 100%);
}

.orderOverview.Accepted{
  background: rgb(165,237,122);
  background: linear-gradient(43deg, rgba(165,237,122,1) 0%, rgba(100,245,136,1) 100%);
}

.orderOverview.Rejected{
  background: rgb(203,119,77);
  background: linear-gradient(43deg, rgba(203,119,77,1) 0%, rgba(227,75,55,1) 100%);
}

.pending-order-list{
  display: flex;
  gap: 10px;
}

.pending-order > button{
  font-size: 1.2em;
}

.pending-order > button.accept{
  background: radial-gradient(ellipse farthest-corner at right bottom, #44fe37 0%, #6bfd31 8%, #2c9f28 30%, #4d8a2f 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #d1ffac 8%, #7cd164 25%, #1f5d2b 62.5%, #5d4a1f 100%);
}

.pending-order > button.reject{
  background: radial-gradient(ellipse farthest-corner at right bottom, #fe3737 0%, #fd4231 8%, #9f3a28 30%, #8a3a2f 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #ffacac 8%, #d16464 25%, #5d1f2a 62.5%, #5d4a1f 100%);
}